@import "tailwindcss";
.input {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
.btn {
  background-color: #e11d48; 
  color: #fff; 
  border-radius: 9999px; 
  padding-left: 1rem; 
  padding-right: 1rem;
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: #be123c; 
}
.card {
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem; 
  padding: 1rem; 
}


